<div class="container">
  <h2 class="title">{{ title }}</h2>

  <div class="data-container">
    <p-table
      class="data-table"
      [columns]="headers"
      [value]="params"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10]"
    >
      <ng-template pTemplate="header" let-columns>
        <tr class="table-header-row">
          <th
            *ngFor="let column of columns"
            class="table-header"
            (contextmenu)="menu.show($event)"
          >
            {{ column.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-columns="columns">
        <tr class="table-body-row">
          <td
            *ngFor="let header of columns"
            class="table-data"
            (contextmenu)="onContextMenu($event, item)"
          >
            {{ item[header.field] ?? "&nbsp;" }}
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-contextMenu
      [model]="items"
      [baseZIndex]="1000"
      [appendTo]="'body'"
      #menu
    ></p-contextMenu>
  </div>
</div>
