::ng-deep table {
  height: 50vh; /* Mantiene la altura máxima de la tabla */
  border-collapse: collapse;
  width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
  max-width: 100%; /* Limita el ancho máximo de la tabla */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

::ng-deep th,
::ng-deep td,
.table-data,
.table-header {
  min-width: 150px; /* Reduce el mínimo ancho de las columnas para evitar desbordamientos */
  height: 99px; /* Mantiene la altura de las celdas */
  white-space: normal; /* Permite que el contenido se ajuste en varias líneas si es necesario */
  word-wrap: break-word; /* Asegura que el texto largo se ajuste en la celda */
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos dentro del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  overflow-x: hidden; /* Evita barras de desplazamiento en el contenedor */
}

.p-element {
  font-weight: bold;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%; /* Asegura que este elemento también ocupe todo el ancho disponible */
}


tbody {
  font-weight: bold;
  flex: 1;
  display: flex;
  flex-direction: column;
}

tr {
  font-weight: bold;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho de la página */
}

.title {margin-top: 0;
  text-align: center;
  font-size: 2em;
  margin-bottom: 70px;
  padding-bottom: 10px;
  font-weight: bold;
  width: 100%;  
}

.pi-plus-circle {
  font-weight: bold;
  font-size: 1.5em;
}

.context {
  margin: 0;
  padding: 0;
}
.table,
th,
td {
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: left!important;
  vertical-align: middle!important;
  padding: 8px;
}
