::ng-deep table {
  height: 50vh;
  border-collapse: collapse;
  max-width: 100vh;  
  overflow-x: auto;
}

::ng-deep th,
::ng-deep td,
.table-data,
.table-header {
  min-width: 275px;
  height: 99px; 
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: justify;
}

.p-element {
  font-weight: bold;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.table,
th,
td {
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: left;
  vertical-align: middle;
  padding: 8px;
}

tbody {
  font-weight: bold;
  flex: 1;
  display: flex;
  flex-direction: column;
}

tr {
  font-weight: bold;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 70px;
  padding-bottom: 10px;
  font-weight: bold;
}

.pi-plus-circle {
  font-weight: bold;
  font-size: 1.5em;
}

.context {
  margin: 0;
  padding: 0;
}
