 
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
*, *::before, *::after {
  box-sizing: border-box;
}

html,body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat;  overflow-y: auto;   line-height: 1.5;
 
  -webkit-font-smoothing: antialiased;
}
i{  cursor: pointer;}
a{text-decoration: none;}
 
 