/* Importación de temas */
@import "primeng/resources/themes/lara-light-blue/theme.css";

* {
  color: #2e4779;
}

html {
  background-color: #dfe8fa;
}
.sideBar {
  background-color: #a8c1f3;
}

table {
  background-color: white;
}

.pi-sun {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
}
.delete {
  background-color: #a8c1f3;
  border: 0px;
}
.delete:hover {
  background-color: #738bbb;
}
.add {
  border: 0px;
}

.menu {
  background-color: white;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;

  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #2e4779;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #2e4779;
    border-left: 5px solid #2e4779;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #2e4779;
    border-right: 5px solid #2e4779;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }
  }
}

#search-component {
  background-color: white;
}
#search-box {
  background-color: #dfe8fa;
}
.containerForm {
  background-color: rgb(240, 240, 240);
}
.form-control {
  background-color: #dfe8fa;
}

th {
  border-bottom: 1px #738bbb solid;
  background-color: #a8c1f3;
}
td {
  border-bottom: 1px #738bbb solid;
}
.containerForm,
.contenHeroDetail {
  background-color: #a8c1f3;
}
.form-control {
  background-color: white;
}
li {
  background-color: white;
}
button {
  background-color: white;
}
.title {
  background-color: #a8c1f3;
}
.p-paginator {
  background-color: #a8c1f3;
}
.table-data {
  background-color: #dfe8fa;
}
