<div class="container">
  <h2 class="title">My Heroes</h2>
  <button routerLink="/newHero" class="add p-button">
    <i class="pi pi-plus-circle"></i>
  </button>
 

  <table class="list">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Alter Ego</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Power</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroModel.heroes">
        <td>{{ hero.id }}</td>
        <td>
          {{ hero.name }}
        </td>
        <td>{{ hero.alterEgo ?? "unknown" }}</td>

        <td>{{ hero.lastName ?? "unknown" }}</td>
        <td>{{ hero.age }}</td>
        <td>{{ hero.power }}</td>
        <td>
          <button
            type="button"
            class="delete p-button p-component"
            title="Eliminar héroe"
            style="margin-right: 5px"
            (click)="delete(hero)"
          >
            <i class="pi pi-trash font-bold" style="font-size: 24px"></i>
          </button>
          <button
            type="button"
            class="delete p-button p-component"
            (click)="goToDetail(hero.id)"
          >
            <i class="pi pi-eye font-bold" style="font-size: 24px"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
