.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 10px;

  margin: 20px;
}

.title {
  grid-area: 2 / 2 / 3 / 8;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;

  padding-bottom: 10px;
  font-weight: bold;
}

.add {
  grid-area: 2/ 4/ 2 / 8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
 
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 20px;
}

.list {
  grid-area: 6 / 2/ 7 / 8;
  font-weight: bold;
  padding: auto;
  text-align: center; 
}
 
.pi-plus-circle {
  font-weight: bold;
  font-size: 1.5em;
}
.name {
  background-color: unset;
}
th {
  font-weight: bold;
  margin-bottom: 10px;
  padding: auto;
  font-size: x-large;
}
td,
tr {
  padding: 10px;
  margin: 10px;
}
 